* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    text-align: center;
}

.header {
    padding: 15px 30px;
    background-color: #c9c9c9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header img {
    height: 50px;
    border-radius: 5px;
}

header h2 { /*la naranja*/
    color: #E87D1E;
    text-align: left;
}

.menu {
    display: flex;
    gap: 40px;
}
header a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 12p;
    transition: 0.3s;
}


.comentario {
    text-align: left;
}

.comentario-fondo {
    text-align: auto;
    background-color: gray;
    display: flex;
    justify-content: auto;
    padding: 80px;
    margin: auto;
}

.comentario p {
    text-align: auto;
}


